*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html, body{     
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;    
    }
.container{
    background-color: hsl(238, 61%, 22%) ;
    /*background-color: hsla(229, 25%, 31%, 0.2);*/
    width: 1366px;
    height: 728px;
    padding: 43px;
    overflow: hidden;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.first{   
    height: 150px;
    width: 700px;
    padding: 0px 30px;
    border: solid 3px hsl(217, 16%, 45%) ;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
#original{
    display: none;
}
.score{
    width: 150px;
    height: 100px;
    background-color: whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 15px 0px;   
    }
h1{
    font-size: 50px;   
}
p{
    color: hsl(229, 64%, 46%);
    text-transform: uppercase;    
    font-size: 12px;
    font-weight: 700;
}
.second{
    background-image: url('../images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin-bottom: -55px;
}
.icon{   
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:whitesmoke;    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px;
}
.icon-bg{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 7px inset lightgray;
}
#bonus-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/bg-pentagon.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    display: none;
}
.bonus-first-row{
    display: flex;
    flex-direction: row;
    margin-top: 135px;
}
.bonus-second-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon-bonus{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}
.icon-bonus-bg{
    width: 107px;
    height: 107px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px inset lightgray;
}
.icon-bonus.scissors{
    position: relative;
    bottom: 125px;
}
.paper{    
    background-color: hsl(230, 89%, 62%) ;
    box-shadow: 0px 10px hsla(230, 89%, 65%, 0.7) ;
}
.scissors{
    background-color:  hsl(39, 89%, 49%);
    box-shadow: 0px 10px hsla(40, 84%, 53%, 0.7);
}
.spock{
    background-color: hsl(189, 59%, 53%);
    box-shadow: 0px 10px hsla(189, 58%, 57%, 0.7);
}
.lizard{
    background-color: hsl(261, 73%, 60%);
    box-shadow: 0px 10px hsla(261, 72%, 63%, 0.7);        
}
.rock{
    background-color: hsl(349, 71%, 52%);
    box-shadow: 0px 10px  hsla(349, 70%, 56%, 0.7);       
}
.third{
    text-align: end;
    margin-top: -20px;
}
button{
    position: relative;
    border: solid 3px hsl(217, 16%, 45%);
    border-radius: 10px;
    color: whitesmoke;
    text-transform: uppercase;
    background-color:transparent;
    height: 35px;
    width: 120px;
    font-size: 12px; 
    margin-top: -15px;   
    z-index: 1;
}
.rules{
    display: none;
    padding: 30px;
    height: 400px;
    width: 385px;
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
    position: relative;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;      
}
h2{
    text-transform: uppercase;
    margin-bottom: 95px;
    font-size: 28px;
}
.start-game{
    display: none;
}
.game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 80px;
}
#house-card{
    display: none;
}
.game p{
    font-size: 16px;
    color: whitesmoke;
}
.game-div{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;   
  z-index: 1;
}
.icon img{
    width: 70px;
}
.game .icon{
    width: 280px;
    height: 280px;
    margin: 70px 35px -35px 35px;
}
.game .icon-bg{
    width: 210px;
    height: 210px;
    box-shadow: 0px 11px inset lightgray;
}
.game img{
    width: 90px;
    height: auto;
}
.game .blank{    
   background-color: hsl(237, 49%, 15%);
}
.blank .icon-bg{
    background-color: hsla(214, 47%, 23%, 0.2); 
    box-shadow: none;
}
.game .paper{
    box-shadow: 0px 14px   hsla(230, 89%, 65%, 0.7);
}
.game .scissors{
    box-shadow: 0px 14px hsla(40, 84%, 53%, 0.7);
}
.game .rock{
    box-shadow: 0px 14px hsla(349, 70%, 56%, 0.7);       
}
.game .spock{
    box-shadow: 0px 14px hsla(189, 58%, 57%, 0.7);
}
.game .lizard{
    box-shadow: 0px 14px hsla(261, 72%, 63%, 0.7);
}
#play-again{
    display: none;
    margin: 0px 35px;
}
.play-again p{
    color: hsl(349, 71%, 52%);
    font-size: 12px;
}
.play-again{
    width: 210px;
    height: 45px;
}
.game-div h2{
    text-transform: uppercase;
    font-size: 36px;
    color: whitesmoke;
    margin-bottom: 25px;
}

.gradient{
   display: none;
}
#gradient{
  position: relative;
  bottom: 540px;
  left: -20px;   
}
#gradient1{
    position: relative;
    bottom: 540px;
    left: 610px;    
}
.gradient-one{
    border-radius: 50%;
    background-color: violet;
    width: 280px;
    height: 280px;
}
.gradient-two{
    border-radius: 50%;
    background-color: hsla(217, 16%, 45%, 0.2);
    padding: 70px;
    width: 420px;
    height: 420px;    
}
.gradient-three{
    border-radius: 50%;
    background-color: hsla(229, 25%, 31%, 0.2);
    padding: 70px;
    width: 560px;
    height: 560px;
}
.gradient-four{
    border-radius: 50%;
    background-color: hsla(214, 47%, 23%, 0.2);
    padding: 65px;
    width: 700px;
    height: 700px;

}

/**Interesting gradient effect***/

/*.gradient-four{
    border-radius: 50%;    
    background-image: repeating-radial-gradient(circle at 50%, hsl(237, 49%, 15%), hsl(214, 47%, 23%) 64px );
    width: 640px;
    height: 640px;
}*/
@media screen and (max-width: 375px){
    .container{
        width: 375px;
        height: 765px;
    }
    .first{
        width: 317px;
        height: 100px;
    }
    .logo img{
        height: 45px;
        width: auto;
    }
    .score{
        width: 78px;
        height: 72px;
        padding: 12px 0px;
    }
    .score p{
        font-size: 9px;
    }
    h1{
        font-size: 30px;
    }
    .first-row{
        margin-bottom: -70px;
    }
    .second .icon, .game .icon, #house-card{
        width: 130px;
        height: 130px;
        margin: 105px 27px 14px 27px;        
    }
    .icon-bg, .game .icon-bg{
        width: 100px;
        height: 100px;
    }
    .icon img{
        width: 45px;
        height: auto;
    }
    .icon-bonus{
        width: 95px;
        height: 95px;
        margin: 17px;
    }
    .icon-bonus-bg{
        width: 72px;
        height: 72px;
    }
    .icon-bonus img{
        width: 32px;
        height: auto;
    }
    .icon-bonus.scissors{
        position: relative;
        bottom: 80px;
    }
    .bonus-first-row{
        margin-top: 165px;
    }
    .bonus-first-row .icon-bonus{
        margin: 15px 7px;
    }    
    .paper, .game .paper{
        box-shadow: 0px 6px hsla(230, 89%, 65%, 0.7);
    }
    .scissors, .game .scissors{
        box-shadow: 0px 6px hsla(40, 84%, 53%, 0.7);
    }
    .rock, .game .rock{
        box-shadow: 0px 6px hsla(349, 70%, 56%, 0.7);        
    }
    .spock, .game .spock{
        box-shadow: 0px 6px hsla(189, 58%, 57%, 0.7);
    }
    .lizard, .game .lizard{
        box-shadow: 0px 6px hsla(261, 72%, 63%, 0.7);
    }
    .game .icon-bg{       
        box-shadow: 0px 5px inset lightgray;
    }
    .blank .icon-bg{
        box-shadow: none;
    }
    .second{
        background-size: 160px;
       background-position-y: 170px;
    }
    #bonus-intro{
        background-size: 216px;
        background-position-y: 140px;
    }
    .third{
        text-align: center;
        margin-top: 120px;
        margin-bottom: 50px;
    }
    button{
        height: 40px;
        width: 135px;
    }
    .rules{
        width: 377px;
        height: 790px;
        margin-top: -50px;    
    }
    .rules .first-row{
        flex-direction: column;
        margin-top: 80px;
        align-items: center;
    }
    .rules .first-row img{
        position: relative;
        top: 460px;
    }
    h2{
        margin-bottom: 100px;
    }
    .game{
        padding: 0px;        
    }
    .game p{
        font-size: 10px;
    }
    .game-div{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;   
       z-index: 1;
       margin-bottom: 148px;      
     }
     .game-div p{
         margin-top: 20px;
     }
    #play-again{
        flex-direction: column;
        position: relative;
        top: 225px;
        width: 0px;
        text-align: center;
        margin: 0px;
    }
    .score.play-again{
        width: 230px;
        height: 50px;
    }
    #play-again h2{
        font-size: 40px;
        width: 230px;
    }
    #play-again p{
        margin-top: 5px;
        font-size: 12px;
        color: hsl(237, 49%, 15%);
    }
    #gradient{
        position: relative;
        bottom: 610px;
        left: -97px;  
      }      
      #gradient1{
          position: relative;
          bottom: 610px;
          left: 87px;
      }
    .gradient-one{
        width: 130px;
        height: 130px;
    }
    .gradient-two{
        padding: 20px;
        width: 170px;
        height: 170px;
    }
    .gradient-three{
        padding: 30px;
        width: 230px;
        height: 230px;
    }
    .gradient-four{
        padding: 35px;
        width: 300px;
        height: 300px;
    }
}