.second{
    background-image: url('../images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.first-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
.icon{   
    width: 200px;
    height: 200px;   
    margin: 50px;
}
.icon-bg{
    width: 140px;
    height: 140px;
}